*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
} 

.button {
  display: block;
  background-color: transparent;
  color: currentColor;
  border: 1px solid #fff;
  cursor: pointer;
  color: #FFF;
  text-align: center;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 700;
  min-height: 34px;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

button:hover {
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 2px;
}

.button:active {
  background: #545050;
  text-decoration: none;
}

.content {
  display: flex;
  gap: 30px;
  width: 100%;
  margin: auto;
}

.result {
  margin-block-start: 75px;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-block-end: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  color: #FFF;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-block-end: 5px;
}

.search-form__label {
  display: flex;
  gap: 5px;
  width: fit-content;
}

.search-form__label:has(:focus) {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__label:has([type='checkbox']):hover {
  cursor: pointer;
  text-decoration: underline;
}

.search-form__textfield {
  appearance: none;
  background-color: transparent;
  width: 225px;
  font-family: inherit; 
  color: inherit;
  font-size: inherit;
  font-weight: 400;
  border: none;
  border-block-start: 1px solid #fff;
  border-block-end: 1px solid #fff;
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.70);
  font-family: 'Fira Sans Condensed', sans-serif;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  position: relative;
  width: 19px;
  height: 19px;
  border: 1px solid #FFF;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox {
  background-image: url(../images/rectangle.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.search-form__submit-button {
  min-width: 194px;
  align-self: end;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 21px;
  max-height: 530px;
}

.title {
  color: #FFF;
  font-family: 'Oswald', sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
  font-family: 'Oswald', sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 94%; /* 70.5px */
  text-transform: uppercase;
}

.content__list {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow-y: auto;
  height: 100%;
}

.content__card-link {
  display: block;
  text-decoration: none;
  margin: 2px;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__card-link:hover {
  text-decoration: underline;
  color: #fff;
  text-underline-offset: 3px;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card {
  width: 100%;
  display: flex;
}

.content__video-card-description-container {
  display: block;
  width: 100%;
  padding-block-start: 6px;
}

.content__video-card-thumbnail {
  max-width: 194px;
  max-height: 103px;
}

.content__video-card-title {
  color: #FFF;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  margin-block-end: 6px;
}

.content__video-card-description {
  color: #FFF;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px; /* 90% */
}

.more-button {
  margin: 4px auto;
  width: 98%;
}